{% extends "layout/base.html.twig" %}

{% block content %}
    {% if informative_message ?? null %}
        <p>{{ informative_message }}</p>
    {% endif %}

    <section>
        <header>
            <h2>Sélection du groupe</h2>
        </header>
        <main>
            <p>Veuillez sélectionner le groupe pour lequel organiser des élections.</p>

            <form action="/groupes/selection" method="post">
                <label for="group">Groupe</label>
                <select name="group" id="group" required>
                    <option value="">-- Sélectionner un groupe --</option>
                    {% for groupe in groupes %}
                        <option
                            value="{{ groupe.id }}"
                            {% if selected_group and selected_group.id == groupe.id %}selected{% endif %}
                        >
                            {{ groupe.nom }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Valider</button>
            </form>
        </main>
    </section>

    {% if related_group_election is not null %}
        <section>
            <header>
                <h2>Récapitulatif des élections du groupe {{ related_group_election.groupe.nom }}</h2>
            </header>
            <main>
                <p>
                    Les élections du groupe {{ related_group_election.groupe.nom }} ont été lancées le
                    {{ related_group_election.date | date('d/m/Y') }} et sont actuellement à l'étape
                    « {{ related_group_election.etat.name }} ».
                </p>

                <ul>
                    {% if related_group_election.etat is same as(etat_election_tour_1) %}
                        <li>
                            <a href="/elections/tour-1">Voter pour le Tour 1</a>
                        </li>
                    {% elseif related_group_election.etat is same as(etat_election_tour_2) %}
                        <li>
                            <a href="/elections/tour-1/resultats">Résultats du Tour 1</a>
                        </li>
                        <li>
                            <a href="/elections/tour-2">Voter pour le Tour 2</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/elections/tour-1/resultats">Résultats du Tour 1</a>
                        </li>
                        <li>
                            <a href="/elections/resultats">Résultats de l'élection</a>
                        </li>
                    {% endif %}
                </ul>
            </main>
        </section>
    {% endif %}
{% endblock content %}
